.sr-only{
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
}
.disable{
    position: absolute;
    display: none;
    visibility: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
}

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
}

*{
    font-family: Roboto, sans-serif;
    color:#31353b;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
body{
    background-color:#f3f3f3;
}




